*.o
*.a
*.so
*~
*.class
*.jar
src/main/native/bwajni.h
make.properties
src/main/java/com/github/lindenb/jbwa/ws/server/jaxws
*.amb
*.ann
*.bwt
*.pac
*.sa
bwa-*
test/ExampleSEChangeMemOptTestOutput.txt
